<div>
    <a class="titre_timeline" href="">Experiences</a>
    <div class="iconspace">
        <i class="fa fa-folder-open"></i>
    </div>
    <div>
        {% for activite in activites %}
        {% if activite.idExperience is null %}
        {% else %}
        {% set position = activite.place %}
        {% if position == true %}
        <div class="encart_left">
            <div class="encart_post_icon-left"></div>
            {% else %}
            <div class="encart_right">
                <div class="encart_post_icon"></div>
                {% endif %}
                {% if activite.idExperience %}
                    <h3>{{ activite.idExperience.poste }}</h3>
                    <br>
                    <h4>{{ activite.idExperience.entreprise }}
                        <i class="fa fa-circle rond"></i>
                        {{ activite.dateDebut|date('M Y') }} -
                        {% if activite.now %}
                            En cours
                        {% else %}
                            {{ activite.dateDeFin|date('M Y') }}
                        {% endif %}
                    </h4>
                    <br>
                    <p>{{ activite.resume }}</p>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <br>
</div>
